@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@tailwind utilities;

body {
    background-color: #09090b; /* Very dark grey */
    background-image: 
        radial-gradient(circle at 50% 0%, #2e1065 0%, transparent 50%),
        radial-gradient(circle at 100% 0%, #083344 0%, transparent 30%);
    color: #f8fafc;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, .gamer-font {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}

.gpu-accelerated {
    transform: translateZ(0);
    will-change: transform, opacity;
    backface-visibility: hidden;
}